
/* navigation bar */
.customNav{
    background-color: steelblue;
    height: 100px;
    font-family: cursive, Gill Sans, Calibri;
    color: white;
}

/* navigation links */


#navbar-brand{
    color: white;
    font-size: 40px;
}

/* navigation dropdown */

.dropdown-item-custom{
    color: #000000;
    background-color: #cb8484;
    font-family: cursive, Gill Sans, Calibri;
}

#nav-link-custom {
    color: rgb(255, 255, 255);
}
#nav-link-custom:hover{
    color: rgb(0, 0, 0);
}

/* jumbotron */

.jumbotron-custom{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:10px;
    background-image: url(../images/backgndsea.jpg);
    background-size: 100% 100%;
}

/* .lead-custom{
    color: #fffafa;
    font-weight: bolder;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.1);
} */

.h1-jumbotron{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255, 0.1);
}

.h1-p{
    color: rgb(253, 251, 251);
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
}

.h1-p-p{
    color: rgb(255, 244, 244);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
}

/* buttons */
.btn-primary-custom{
    color: rgb(203, 1, 1);
    background-color: rgb(255, 245, 238);
    border-color:rgb(255, 245, 238); 
}

.btn-primary-custom:hover{
    box-shadow: 10px 10px 5px rgb(255, 219, 219);
}

.btn-primary-card-custom{
    background-color: rgb(156, 181, 176);
    border-color: rgb(156, 181, 176);
}

.btn-primary-card-custom:hover{
    box-shadow: 5px 5px 2.5px bisque
}
   


/* cards */

.container-fluid-custom{
margin: 0;
}

.row{
    justify-content: center;
}

.card-custom{
    display: flex;
    align-items: stretch;
    row-gap: 20px;
}


.card-header-custom:hover{
    color: rgb(255, 255, 255);
}
.about-me, .myPortfolio, .futureProj, .contact, .item1, .item2, .item3, .item4, .item5, .item6{
    font-weight: bold;
    /* line-height: 300%; */
    width: 50em;
}

.about-me{
    background-image: url(../images/aboutmelg.jpg);
    background-size: 100% 100%;
    background-color: rgb(67, 176, 207);
    color: rgb(0, 0, 0);
}

.myPortfolio{
    font-weight: bolder;
    line-height:100px;
    background-color: rgb(255, 255, 255, 0.1);
    background-image: url(../images/portfoliolg.jpg);
    background-size: 100% 100%;
    opacity: 0.8;
    color: rgb(0, 0, 0);  
}


.futureProj{
    
    background-image: url(../images/futurelg.jpg);
    background-size: 100% 100%;
    background-color: rgb(244, 143, 36);
    color: rgb(0, 0, 0);
}

.contact{
    
    background-color: rgb(4, 75, 106);
    color: rgb(255, 255, 255);
    line-height: 20px;
}

a{
    color: white;
}
a:hover{
    color: #ffff00;
}

li{
    list-style-type: none;
}

/* items */

.item1{
    background-image: url(../images/webpagedes.eps);
    background-size: 100% 100%;
}

.item2{
    background-image: url();
}

.item3{
    background-image: url();
}

.item4{
    background-image: url();
}

.item5{
    background-image: url();
}

.item6{
    background-image: url();
}

.card-header-items-custom{
    background-color: rgb(220, 53, 69, 1);
}

.items-hover:hover{
    color: rgb(255, 255, 255);
}